<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %logger{36} (%F:%L) - %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <logger name="com.yinziming" level="trace" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.apache.ibatis" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <root level="trace">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>